<!--Advantages-->
<div class="container">
    <div class="prs-title-wrapper">
        <h2 class="prs-title">المزايا</h2>
        <p class="prs-subtitle">مزايا عديدة لتكتشفها مع بيرز</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="prs-advantages-card">
                <div class="prs-icon-wrapper">
                    <img src="assets/media/iconS/note-2.svg">
                </div>
                <div class="text-wrapper">
                    <h5 class="prs-card-title">تجربة تسوق مدمجة مع الشبكات الاجتماعية</h5>
                    <p class="prs-card-desc">تصفح واشتري المنتجات والخدمات مباشرة من شبكاتك الاجتماعية المفضلة</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="prs-advantages-card">
                <div class="prs-icon-wrapper">
                    <img src="assets/media/iconS/element-plus.svg">
                </div>
                <div class="text-wrapper">
                    <h5 class="prs-card-title">توصيات مخصصة</h5>
                    <p class="prs-card-desc">احصل على توصيات منتجات وخدمات تناسب اهتماماتك وتفضيلاتك الشخصية</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="prs-advantages-card">
                <div class="prs-icon-wrapper">
                    <img src="assets/media/iconS/star.svg">
                </div>
                <div class="text-wrapper">
                    <h5 class="prs-card-title">تسوق اجتماعي وتفاعلي</h5>
                    <p class="prs-card-desc">شارك تجارب التسوق والتقييمات مع الأخرين وتسوق معهم بطريقة تفاعلية وممتعة</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="prs-advantages-card">
                <div class="prs-icon-wrapper">
                    <img src="assets/media/iconS/security-user.svg">
                </div>
                <div class="text-wrapper">
                    <h5 class="prs-card-title">خدمة عملاء متاحة دائماً</h5>
                    <p class="prs-card-desc">دعم العملاء علي مدار الساعة لضمان تسوق سلس وخالٍ من المتاعب</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="prs-advantages-card">
                <div class="prs-icon-wrapper">
                    <img src="assets/media/iconS/money-tick.svg">
                </div>
                <div class="text-wrapper">
                    <h5 class="prs-card-title">طرق دفع آمنة ومتنوعة</h5>
                    <p class="prs-card-desc">خيارات الدفع المتنوعة والآمنة التي يوفرها التطبيق، مما يجعل عملية الشراء سهلة وآمنة</p>
                </div>
            </div>
        </div>
    </div>
</div>