
<!-- Hero Section-->
<section >
    <div class="container">
        <div  class="prs-hero-section-container">
            <div class="prs-hero-section-wrapper row">
                <div class="prs-hero-text-wrapper">
                    <div class="mx-auto w-fit-content">
                        <img src="assets/media/SVGs/logo-ico.svg" alt="Peers" loading="lazy">
                    </div>
                    <div class="prs-hero-title-wrapper">
                        <h2 class="prs-hero-title">{{'firstSection.title' | translate}}</h2>
                        <p class="prs-hero-desc">
                            {{'firstSection.desc' | translate}}
                        </p>
                    </div>
                    <div class="d-flex align-items-center gap-3 mb-5 mt-2" >
                        <div class="prs-hero-users-wrapper">
                            <div class="prs-hero-users-item">
                                <img src="assets/media/SVGs/profile-4.png" alt="Peers" loading="lazy">
                            </div>
                            <div class="prs-hero-users-item">
                                <img src="assets/media/SVGs/profile-2.png" alt="Peers" loading="lazy">
                            </div>
                            <div class="prs-hero-users-item">
                                <img src="assets/media/SVGs/profile-4.png" alt="Peers" loading="lazy">
                            </div>
                            <div class="prs-hero-users-item">
                                <a><img src="assets/media/SVGs/add.svg" alt="Peers" loading="lazy"></a>
                            </div>
                        </div>
                        <div class="prs-hero-join-us-wrapper">
                            <p class="prs-hero-join-us-title">
                                {{'firstSection.users' | translate}}
                            </p>
                            <a class="prs-hero-join-us-link">
                                {{'firstSection.btn' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="d-flex gap-2 mb-1 w-100 flex-lg-nowrap flex-wrap justify-content-center">
                        <a><img src="assets/media/SVGs/Download_on_the_App_Store_Badge%201.svg" alt="Peers" loading="lazy"></a>
                        <a><img src="assets/media/SVGs/google-play-badge%201.svg" alt="Peers" loading="lazy"></a>
                    </div>
                </div>
                <div class="prs-hero-img-wrapper">
                    <img src="assets/media/SVGs/hero-img.svg" alt="Peers" alt="peers" loading="lazy">
                </div>
            </div>
            <div class="prs-hero-btn-wrapper">
                <a class="prs-hero-btn">
                    <img src="assets/media/SVGs/arrow-down.svg" alt="Peers" loading="lazy">
                </a>
            </div>
        </div>
    </div>
</section>
<!--About-->
<div class="prs-about-wrapper" id="section1">
    <div class="container">
        <div class="prs-title-wrapper">
            <h2 class="prs-title">{{'header.aboutPeers' | translate }}</h2>
            <p class="prs-subtitle">{{'about.aboutText' | translate }}</p>
        </div>

    </div>
    <div class="prs-carousel-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="prs-carousel-img-wrapper">
                        <img src="assets/media/SVGs/about.svg" alt="peers" loading="lazy">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                     <div id="carouselExampleFade" class="carousel slide prs-carousel carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div  *ngFor="let slide of sliderList;let i = index" class="carousel-item" [class.active]="i === 1">
                                <h3 class="prs-carousel-title">{{slide.title}}</h3>
                                <p class="prs-carousel-desc">{{slide.text}}</p>
                            </div>
                          
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div> 
                         
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>








