/* Reset Style */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}
p {margin-bottom: 0;}
a {
    text-decoration: none;
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
a:-webkit-any-link:focus-visible {
    outline: 0px;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    font-family:var(--body-ff);
    background-color: var(--prs-body-bg-clr);
}
.prs-title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 40px;
}
.prs-title-wrapper .prs-title:before{
    content: '';
    width: 60%;
    height: 6px;
    color: var(--prs-secondary-clr);
    background-color:var(--prs-secondary-clr);
    border-radius: 2px;
    display: block;
    bottom: -5px;
    inset-inline-start: 0;
    position: absolute;
}
.prs-title-wrapper .prs-title{
    margin-bottom: 0;
    width: fit-content;
    font-size: 32px;
    font-family: var(--body-ff);
    font-weight: 800;
    line-height: 60px;
    color:var(--prs-primary-clr);
    text-align: center;
    position: relative;
}
.prs-title-wrapper .prs-subtitle{
    font-size: 16px;
    font-family: var(--body-ff);
    font-weight: 500;
    line-height: 30px;
    color:var(--prs-black-clr);
    text-align: center;
}
* {
    transition: background-color 0.3s, color 0.3s;
}
.gap-24{gap: 24px}
.w-fit-content{width: fit-content}
/*--Hero Section--*/
.prs-hero-section-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    height:665px;
    overflow: hidden;
    min-height: fit-content;
}
.prs-hero-section-wrapper .prs-hero-text-wrapper{
    width: fit-content;
    max-width: 530px;
    padding: 55px;
}
.prs-hero-section-wrapper .prs-hero-text-wrapper .prs-hero-title-wrapper{
    max-width: 520px;
    font-family: var(--body-ff);
}
.prs-hero-section-wrapper .prs-hero-text-wrapper .prs-hero-title-wrapper .prs-hero-title{
    font-size: 32px;
    font-weight: 800;
    line-height: 56px;
    color:var(--prs-primary-clr);
    margin-block: 16px;
}
.prs-hero-section-wrapper .prs-hero-text-wrapper .prs-hero-title-wrapper .prs-hero-desc{
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: var(--prs-black-clr);
}
.prs-hero-section-wrapper:before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    inset-inline-start: 2px;
    width: 100%;
    height: 100%;
    border-inline-start:1000px solid var(--prs-footer-bg);
    z-index: -1;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-radius: 30px;
    /*border-i*/
}
.prs-hero-section-wrapper:after{
    position: absolute;
    content: '';
    display: block;
    top: -2px;
    inset-inline-start: 0px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-inline-start: 1004px solid var(--prs-secondary-clr);
    z-index: -2;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-radius: 30px;
}
.prs-hero-section-wrapper .prs-hero-users-wrapper{
    display: flex;
    align-items: center;
}
.prs-hero-section-wrapper .prs-hero-users-wrapper .prs-hero-users-item{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid var(--prs-footer-bg);
    background-color: var(--prs-footer-bg);
}
.prs-hero-section-wrapper .prs-hero-users-wrapper .prs-hero-users-item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.prs-hero-section-wrapper .prs-hero-users-wrapper .prs-hero-users-item:not(:first-child){
    margin-inline-start: -24px;
}
.prs-hero-section-wrapper .prs-hero-users-wrapper .prs-hero-users-item:last-child{
    background-color: var(--prs-primary-clr);
    display: flex;
    align-items: center;
    justify-content:center;
}
.prs-hero-section-wrapper .prs-hero-users-wrapper .prs-hero-users-item:last-child img{
    width: 32px;
    height: 32px;
}
.prs-hero-section-wrapper .prs-hero-join-us-wrapper{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.prs-hero-section-wrapper .prs-hero-join-us-wrapper .prs-hero-join-us-title{
    margin-bottom: 0;
    color: var(--prs-gary-clr);
}
.prs-hero-section-wrapper .prs-hero-join-us-wrapper .prs-hero-join-us-link{
    color: var(--prs-primary-clr);
    text-decoration: none;
}
.prs-hero-section-container{position: relative;margin-bottom: 80px}
.prs-hero-section-container .prs-hero-btn-wrapper{
    position: absolute;
    inset-inline-start: 70px;
    bottom: -30px;
    /*transform: rotate(8deg);*/
}
.prs-hero-section-container .prs-hero-btn{
    width: 57px;
    height: 77px;
    background: var(--prs-secondary-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.prs-hero-section-container .prs-hero-btn:after{
    position: absolute;
    bottom: -42px;
    inset-inline-start: -4px;
    transform: translate(-0%, -50%);
    height: 83px;
    width: 65px;
    border-radius: 65% 65% 0 0;
    content: '';
    display: block;
    background-color: transparent;
    border-top: 1px dashed var(--prs-primary-clr);
    border-bottom: none;
}
.prs-hero-section-wrapper .prs-hero-btn img{
    width: 24px;
    height: 24px;
}
.prs-hero-section-wrapper .prs-hero-img-wrapper{
    max-width: 360px;
    width: fit-content;
    padding-block: 53px;
    /*background-color: var(--prs-white-clr);*/
    padding-inline: 0;
}
.prs-hero-img-wrapper img{
    width: 100%;
    height: 100%;
}
@media (max-width: 992px) {
    .prs-hero-section-wrapper{
        flex-direction: column;
        overflow: visible;
        height:fit-content;
        align-items: center;
    }
    .prs-hero-section-wrapper .prs-hero-text-wrapper{
        min-height:650px;
        min-width: 100%;
    }
    .prs-hero-section-wrapper:before{
        border-top:912px solid var(--prs-footer-bg);
        border-bottom: 0px solid transparent;
        border-inline-start: 93px solid transparent;
        border-inline-end: 90px solid transparent;
        top: 1px;
        z-index: -1;
    }
    .prs-hero-section-wrapper:after{
        border-top:912px solid var(--prs-secondary-clr);
        border-bottom: 0px solid transparent;
        border-inline-start: 90px solid transparent;
        border-inline-end: 90px solid transparent;
    }
    .prs-hero-section-wrapper .prs-hero-img-wrapper{
        max-width: fit-content;
        padding: 0;
    }
    .prs-hero-btn-wrapper{display: none}
}
/*--About--*/
.prs-about-wrapper{
    background-color: var(--prs-light-gary-clr-bg);
}
.prs-about-wrapper .prs-carousel-container{
    position: relative;
    /*background-color:var(--prs-light-gary-clr-bg);*/
}
.prs-about-wrapper .prs-carousel-container:after{
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: calc(50% - 30px);
    height: 70%;
    background:  linear-gradient(270deg, #B4CC74 0%, rgba(180, 204, 116, 0) 100%);
    z-index: -1;
}
.prs-about-wrapper .prs-carousel-img-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    position: relative;
}
.prs-about-wrapper .prs-carousel-img-wrapper img{
    width: 80%;
}
@media (max-width: 767px) {
    .prs-about-wrapper .prs-carousel-container:after{
        display: none;
    }
    .prs-about-wrapper .prs-carousel-img-wrapper:after{
        position: absolute;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 90%;
        background:  linear-gradient(270deg, #B4CC74 0%, rgba(180, 204, 116, 0) 100%);
        z-index: -1;
    }
    .prs-about-wrapper .prs-carousel-img-wrapper{width: 100%}
    .prs-about-wrapper .prs-carousel-img-wrapper img{width: fit-content}
    .prs-carousel-container .container{max-width: fit-content;}
    .prs-carousel-container .container .row>:first-child {padding-inline: 0}
    .prs-about-wrapper .prs-carousel-img-wrapper {justify-content: center;}

}

/*--Download app--*/
.prs-download-app-wrapper{
    background: linear-gradient(83.16deg, rgba(180, 204, 116, 0.8) 0%, rgba(26, 66, 32, 0.8) 99.76%);
    border-radius: 30px;
    max-height: 439px;
    margin-top:40px;
}
.prs-download-app-wrapper .prs-download-app-text-wrapper{
    margin-top:48px;
    margin-inline-start:48px;
    color:var(--prs-white-clr);
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.prs-download-app-wrapper .prs-download-app-text-wrapper h5,
.prs-download-app-wrapper .prs-download-app-text-wrapper p{margin-bottom: 0}
.prs-download-app-wrapper .prs-download-app-text-wrapper img{
    width: 200px;
    height: 56px;
    object-fit: cover;
    margin-inline: auto;
}
.prs-download-app-wrapper .prs-download-app-text-wrapper h5{
    font-size: 32px;
    font-weight: 700;
    line-height: 2;
}
.prs-download-app-wrapper .prs-download-app-text-wrapper p{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    max-width: 472px;
}
.prs-download-app-wrapper .prs-download-app-img-wrapper{

}
.prs-download-app-wrapper .prs-download-app-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-12px, -17%);

}
@media (max-width: 992px) {
    .prs-download-app-wrapper .row{
        flex-direction: column-reverse;
    }
    .prs-download-app-wrapper{
        max-height: fit-content;
        padding-bottom: 48px;
    }
    .prs-download-app-wrapper .prs-download-app-text-wrapper{
        margin-top:-48px;
        margin-inline-start:0;
        padding-inline: 12px;
        align-items: center;
        text-align: center;
    }
    .prs-download-app-wrapper .prs-download-app-img-wrapper img{transform: translate(0, -17%);}
}

/*- contact form-*/
.prs-contact-form-wrapper{
    position: relative;
    z-index: 22;
    margin-top: 130px;
}
.prs-contact-form-wrapper:before{
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    right: 0;
    left:0;
    display: block;
    content: '';
    background-color: var(--prs-footer-bg);
    z-index: 0;
}
.prs-contact-form{
    position: relative;
    z-index: 444;
    background-color: var(--prs-secondary-clr);
    border-radius: 30px;
    padding: 45px;
    color:var(--prs-white-clr);
    min-height: 210px;
    align-items: center;
}
.prs-contact-form .prs-contact-form-text-wrapper .prs-contact-form-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}
.prs-contact-form .prs-contact-form-text-wrapper .prs-contact-form-desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    max-width: 320px;
}
.prs-contact-form-input-wrapper{margin-top: 45px;}
/*--FQA--*/

