<!-- code here -->
<!--<button class="btn btn-primary">Test Button</button>Step 7: Serve Your ApplicationRun your Angular application using the Angular CLI:-->

<router-outlet></router-outlet>
<!--  header  -->
    <div class="container prs-header-container">
        <nav class="navbar prs-header navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="assets/media/SVGs/logo-header.svg" alt="Peers Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-links">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">عن بيرز</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">المزايا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">الأسئلة الشائعة</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">تواصل معنا</a>
                        </li>
                    </ul>
                    <div class="prs-header-action">
                        <button class="btn prs-btn prs-btn-outline-gray">E</button>
                        <button class="btn prs-btn prs-btn-primary">أحصل علي التطبيق الأن</button>
                    </div>

                </div>
            </div>
        </nav>
    </div>
<!--About-->
    <div class="prs-about-wrapper">
    <div class="container">
        <div class="prs-title-wrapper">
            <h2 class="prs-title">عن بيرز</h2>
            <p class="prs-subtitle">ملتزمون بتوفير تجربة متميزة تجمع بين الراحة والتفاعل الاجتماعي</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">test</div>
            <div class="col-lg-6 col-md-12">test</div>
        </div>
    </div>
</div>
<!--Advantages-->
    <div class="container">
        <div class="prs-title-wrapper">
            <h2 class="prs-title">المزايا</h2>
            <p class="prs-subtitle">مزايا عديدة لتكتشفها مع بيرز</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="prs-advantages-card">
                    <div class="prs-icon-wrapper">
                        <img src="assets/media/iconS/note-2.svg">
                    </div>
                    <div class="text-wrapper">
                        <h5 class="prs-card-title">تجربة تسوق مدمجة مع الشبكات الاجتماعية</h5>
                        <p class="prs-card-desc">تصفح واشتري المنتجات والخدمات مباشرة من شبكاتك الاجتماعية المفضلة</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="prs-advantages-card">
                    <div class="prs-icon-wrapper">
                        <img src="assets/media/iconS/element-plus.svg">
                    </div>
                    <div class="text-wrapper">
                        <h5 class="prs-card-title">توصيات مخصصة</h5>
                        <p class="prs-card-desc">احصل على توصيات منتجات وخدمات تناسب اهتماماتك وتفضيلاتك الشخصية</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="prs-advantages-card">
                    <div class="prs-icon-wrapper">
                        <img src="assets/media/iconS/star.svg">
                    </div>
                    <div class="text-wrapper">
                        <h5 class="prs-card-title">تسوق اجتماعي وتفاعلي</h5>
                        <p class="prs-card-desc">شارك تجارب التسوق والتقييمات مع الأخرين وتسوق معهم بطريقة تفاعلية وممتعة</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="prs-advantages-card">
                    <div class="prs-icon-wrapper">
                        <img src="assets/media/iconS/security-user.svg">
                    </div>
                    <div class="text-wrapper">
                        <h5 class="prs-card-title">خدمة عملاء متاحة دائماً</h5>
                        <p class="prs-card-desc">دعم العملاء علي مدار الساعة لضمان تسوق سلس وخالٍ من المتاعب</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="prs-advantages-card">
                    <div class="prs-icon-wrapper">
                        <img src="assets/media/iconS/money-tick.svg">
                    </div>
                    <div class="text-wrapper">
                        <h5 class="prs-card-title">طرق دفع آمنة ومتنوعة</h5>
                        <p class="prs-card-desc">خيارات الدفع المتنوعة والآمنة التي يوفرها التطبيق، مما يجعل عملية الشراء سهلة وآمنة</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Download app-->
<div class="container">
   <div class="prs-download-app-wrapper">
       <div class="row">
           <div class="col-lg-7 col-md-12">
            <div class="prs-download-app-text-wrapper">
                <img src="assets/media/SVGs/logo-white.svg" class="d-none d-lg-block">
                <img src="assets/media/SVGs/logo--primary.svg" class="d-block d-lg-none">
                <h5 class="prs-download-app-title">حوّل كل نقرة إلى اكتشاف جديد!</h5>
                <p class="prs-download-app-desc">انضم الآن لعالم تسوق مختلف، حيث تصبح كل نقرة فرصة لاكتشاف منتجات وخدمات جديدة. ابدأ رحلتك اليوم!</p>
                <div class="d-flex gap-24 mb-1 flex-wrap justify-content-md-center">
                    <a><img src="assets/media/SVGs/Download_on_the_App_Store_Badge%201.svg"></a>
                    <a><img src="assets/media/SVGs/google-play-badge%201.svg"></a>
                </div>
            </div>
           </div>
           <div class="col-lg-5 col-md-12">
               <div class="prs-download-app-img-wrapper">
                   <img src="assets/media/SVGs/download-app.png">
               </div>
           </div>
       </div>
   </div>
</div>

<!--Footer-->
<footer class="prs-footer">
    <div class="container">

    </div>
</footer>
