    <!--Download app-->
    <div class="container">
        <div class="prs-download-app-wrapper">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                 <div class="prs-download-app-text-wrapper">
                     <img src="assets/media/SVGs/logo-white.svg" class="d-none d-lg-block">
                     <img src="assets/media/SVGs/logo--primary.svg" class="d-block d-lg-none">
                     <h5 class="prs-download-app-title">{{'download.downloadTitle' | translate }}</h5>
                     <p class="prs-download-app-desc">{{'download.downloadDesc' | translate }}</p>
                     <div class="d-flex gap-24 mb-1 flex-wrap justify-content-md-center">
                         <a><img src="assets/media/SVGs/Download_on_the_App_Store_Badge%201.svg"></a>
                         <a><img src="assets/media/SVGs/google-play-badge%201.svg"></a>
                     </div>
                 </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="prs-download-app-img-wrapper">
                        <img src="assets/media/SVGs/download-app.png">
                    </div>
                </div>
            </div>
        </div>
     </div>